@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes meshMove {
  0%,100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}
.animate-mesh {
  background-size: 200% 200%;
  animation: meshMove 15s ease infinite;
}

@keyframes floatSlow {
  0% { transform: translateY(0); }
  50% { transform: translateY(40px); }
  100% { transform: translateY(0); }
}
.animate-floatSlow {
  animation: floatSlow 20s ease-in-out infinite;
}

.bg-noise {
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
}