:root {
  --bg-main: #ffffff;
  --bg-panel: #f4f4f5;
  --bg-editor: #ffffff;

  --text-main: #111827;
  --text-muted: #6b7280;

  --border-color: #d4d4d8;

  --console-bg: #f3f4f6;
  --console-text: #15803d;
}

/* DARK MODE */

.dark {
  --bg-main: #0f0f0f;
  --bg-panel: #18181b;
  --bg-editor: #0f0f0f;

  --text-main: #ffffff;
  --text-muted: #a1a1aa;

  --border-color: #27272a;

  --console-bg: #000000;
  --console-text: #4ade80;
}

/* Dracula */
.dracula {
  --bg-main: #282a36;
  --panel: #44475a;
  --text-main: #f8f8f2;
}

/* Nord */
.nord {
  --bg-main: #2e3440;
  --panel: #3b4252;
  --text-main: #eceff4;
}

/* GitHub Dark */
.github-dark {
  --bg-main: #0d1117;
  --panel: #161b22;
  --text-main: #c9d1d9;
}